<?xml version="1.0" encoding="euc-kr"?>
<config>
  <settings>
    <title></title>
    <content></content>
    <tbcolor>
      <base>#7e8ece</base>
      <sub>#cfdfef</sub>
      <line>#7fafdf</line>
    </tbcolor>
    <tbwidth>700</tbwidth>
    <plugin></plugin>
  </settings>
  <database>
    <dsn>mysqli://root@localhost/tdms</dsn>
    <table>tdms_skelecton</table>
    <join>
      <type></type>
      <target></target>
      <condition></condition>
      <order></order>
    </join>
    <fields>
      <field>
        <alias>일련번호</alias>
        <fieldname>ID</fieldname>
        <string>false</string>
        <component></component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>유형</alias>
        <fieldname>CODE</fieldname>
        <string>true</string>
        <component>TSEL</component>
        <settings>
          <setting>
            <title>유형1</title>
            <value>유형1</value>
          </setting>
          <setting>
            <title>유형2</title>
            <value>유형2</value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>코드번호</alias>
        <fieldname>CODENUMBER</fieldname>
        <string>true</string>
        <component>TBOX/5/15</component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>필드1</alias>
        <fieldname>field1</fieldname>
        <string>true</string>
        <component>TBOX//</component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>필드2</alias>
        <fieldname>field2</fieldname>
        <string>true</string>
        <component>TBOX//</component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>필드3</alias>
        <fieldname>field3</fieldname>
        <string>true</string>
        <component>TEXT//</component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>필드4</alias>
        <fieldname>field4</fieldname>
        <string>false</string>
        <component>TEXT//</component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>필드5</alias>
        <fieldname>field5</fieldname>
        <string>false</string>
        <component>DATE//</component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
    </fields>
    <tbitem> </tbitem>
  </database>
</config>
