<?xml version='1.0' encoding='euc-kr' standalone='yes' ?>
<config>
	<settings>
		<title>통계화면</title>
		<content>STAT 플러그인 테스트</content>
		<tbcolor>
			<base>#8E1002</base>
			<sub>#E2E2E2</sub>
			<line>#AFAFAF</line>
		</tbcolor>
		<tbwidth>710</tbwidth>
		<plugin>STAT</plugin>
	</settings>

	<database>
		<dsn>mysqli://root@localhost/tdms</dsn>
		<table>TDMS_SELL_MANAGE A</table>

		<join>
			<type>1</type>
			<target>TDMS_ITEM_MANAGE B</target>
			<condition>A.itemid = B.id</condition>
			<order>A.id desc</order>
		</join>

		<fields>
			<field>
				<alias>일련번호</alias>
				<fieldname>A.ID</fieldname>
				<string>false</string>
				<component></component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>유형</alias>
				<fieldname>A.CODE</fieldname>
				<string>true</string>
				<component>TSEL</component>
				<settings>
					<setting>
						<title>G마켓</title>
						<value>G마켓</value>
					</setting>
					<setting>
						<title>더미라클</title>
						<value>더미라클</value>
					</setting>
					<setting>
						<title>GS이스토어</title>
						<value>GS이스토어</value>
					</setting>
					<setting>
						<title>인터파크</title>
						<value>인터파크</value>
					</setting>
					<setting>
						<title>온켓</title>
						<value>온켓</value>
					</setting>
					<setting>
						<title>직거래</title>
						<value>직거래</value>
					</setting>
					<setting>
						<title>11번가</title>
						<value>11번가</value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>코드번호</alias>
				<fieldname>A.CODENUMBER</fieldname>
				<string>true</string>
				<component>TBOX/5/15</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>수령자</alias>
				<fieldname>A.getname</fieldname>
				<string>true</string>
				<component>TBOX/16/25</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>주소</alias>
				<fieldname>A.address</fieldname>
				<string>true</string>
				<component>TBOX/35/255</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			
			<field>
				<alias>전화번호</alias>
				<fieldname>A.tel</fieldname>
				<string>true</string>
				<component>TBOX/16/15</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>핸드폰</alias>
				<fieldname>A.mobile</fieldname>
				<string>true</string>
				<component>TBOX/16/15</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>배송형태</alias>
				<fieldname>A.status</fieldname>
				<string>true</string>
				<component>TSEL</component>
				<settings>
					<setting>
						<title>선불</title>
						<value>선불</value>
					</setting>
					<setting>
						<title>착불</title>
						<value>착불</value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>요구사항</alias>
				<fieldname>A.request</fieldname>
				<string>true</string>
				<component>TEXT/40/4</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>송장번호</alias>
				<fieldname>A.sn</fieldname>
				<string>true</string>
				<component>TBOX/14/25</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>구매자</alias>
				<fieldname>A.buyname</fieldname>
				<string>true</string>
				<component>TBOX/16/25</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>성별</alias>
				<fieldname>A.sex</fieldname>
				<string>true</string>
				<component>TSEL</component>
				<settings>
					<setting>
						<title>남</title>
						<value>남</value>
					</setting>
					<setting>
						<title>여</title>
						<value>여</value>
					</setting>
					<setting>
						<title>모름</title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>이메일</alias>
				<fieldname>A.email</fieldname>
				<string>true</string>
				<component>TBOX/20/50</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>주문물품</alias>
				<fieldname>A.itemid</fieldname>
				<string>true</string>
				<component>OCMB</component>
				<settings>
					<setting>
						<title>TBNAME</title>
						<value>TDMS_ITEM_MANAGE B</value>
					</setting>
					<setting>
						<title>TITLE</title>
						<value>B.name</value>
					</setting>
					<setting>
						<title>VALUE</title>
						<value>B.id</value>
					</setting>
					<setting>
						<title>DATA</title>
						<value>B.rprice</value>
					</setting>
					<setting>
						<title>VALUETO</title>
						<value>이익금</value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>이익금</alias>
				<fieldname>A.profit</fieldname>
				<string>false</string>
				<component>TBOX/10/25</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>낙찰번호</alias>
				<fieldname>A.buynumber</fieldname>
				<string>true</string>
				<component>TBOX/10/25</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>접수일자</alias>
				<fieldname>A.takendate</fieldname>
				<string>true</string>
				<component>DATE/10/20</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>회신일자</alias>
				<fieldname>A.conducteddate</fieldname>
				<string>true</string>
				<component>DATE/10/20</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>회신결과</alias>
				<fieldname>A.conductingresult</fieldname>
				<string>true</string>
				<component>ELST</component>
				<settings>
					<setting>
						<title>물품</title>
						<value>물품</value>
					</setting>
					<setting>
						<title>반품</title>
						<value>반품</value>
					</setting>
					<setting>
						<title>기타</title>
						<value>기타</value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>비고</alias>
				<fieldname>A.note</fieldname>
				<string>true</string>
				<component>TEXT/40/4</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>반품유무</alias>
				<fieldname>A.isreturn</fieldname>
				<string>true</string>
				<component>TSEL</component>
				<settings>
					<setting>
						<title>N</title>
						<value>N</value>
					</setting>
					<setting>
						<title>Y</title>
						<value>Y</value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>상품일련번호</alias>
				<fieldname>B.ID</fieldname>
				<string>true</string>
				<component></component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>상품명</alias>
				<fieldname>B.name</fieldname>
				<string>true</string>
				<component>STAT/20/4</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>구매처</alias>
				<fieldname>B.CODE</fieldname>
				<string>true</string>
				<component>STAT/20/4</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>상품코드</alias>
				<fieldname>B.CODENUMBER</fieldname>
				<string>true</string>
				<component>STAT/20/4</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>원가</alias>
				<fieldname>B.oprice</fieldname>
				<string>true</string>
				<component>STAT/20/4</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
		</fields>

		<tbitem> </tbitem>
	</database>
</config>
