<?xml version='1.0' encoding='euc-kr' standalone='yes' ?>
<config>
	<settings>
		<title>아이템 관리</title>
		<content>이 서비스는 품목 관리 테이블을 관리 해 주는 것 입니다</content>
		<tbcolor>
			<base>#7e8ece</base>
			<sub>#cfdfef</sub>
			<line>#7fafdf</line>
		</tbcolor>
		<tbwidth>710</tbwidth>
		<plugin></plugin>
	</settings>

	<database>
		<dsn>mysqli://root@localhost/tdms</dsn>
		<table>TDMS_ITEM_MANAGE</table>

		<join>
			<type></type>
			<target></target>
			<condition></condition>
			<order></order>
		</join>

		<fields>
			<field>
				<alias>일련번호</alias>
				<fieldname>ID</fieldname>
				<string>false</string>
				<component></component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>유형</alias>
				<fieldname>CODE</fieldname>
				<string>true</string>
				<component>TSEL</component>
				<settings>
					<setting>
						<title>노박스</title>
						<value>노박스</value>
					</setting>
					<setting>
						<title>MY</title>
						<value>MY</value>
					</setting>
					<setting>
						<title>기타</title>
						<value>기타</value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>코드번호</alias>
				<fieldname>CODENUMBER</fieldname>
				<string>true</string>
				<component>TBOX/5/15</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>상품명</alias>
				<fieldname>name</fieldname>
				<string>true</string>
				<component>TBOX/15/15</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>원가</alias>
				<fieldname>oprice</fieldname>
				<string>false</string>
				<component>TBOX/16/25</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			
			<field>
				<alias>판매가</alias>
				<fieldname>price</fieldname>
				<string>false</string>
				<component>TBOX/35/25</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>실판매가</alias>
				<fieldname>rprice</fieldname>
				<string>false</string>
				<component>TBOX/16/25</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>사이즈정보</alias>
				<fieldname>sizeinfo</fieldname>
				<string>true</string>
				<component>TEXT/40/4</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
			<field>
				<alias>특이사항</alias>
				<fieldname>information</fieldname>
				<string>true</string>
				<component>TEXT/40/4</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>상품종류</alias>
				<fieldname>item</fieldname>
				<string>true</string>
				<component>TSEL</component>
				<settings>
					<setting>
						<title>남성화</title>
						<value>남성화</value>
					</setting>
					<setting>
						<title>여성화</title>
						<value>여성화</value>
					</setting>
					<setting>
						<title>남성의류</title>
						<value>남성의류</value>
					</setting>
					<setting>
						<title>여성의류</title>
						<value>여성의류</value>
					</setting>
				</settings>
			</field>

			<field>
				<alias>접수일자</alias>
				<fieldname>takendate</fieldname>
				<string>true</string>
				<component>DATE/10/20</component>
				<settings>
					<setting>
						<title></title>
						<value></value>
					</setting>
				</settings>
			</field>
		</fields>

		<tbitem> </tbitem>
	</database>
</config>
