<?xml version="1.0" encoding="euc-kr"?>
<config>
  <settings>
    <title></title>
    <content></content>
    <tbcolor>
      <base>#7e8ece</base>
      <sub>#cfdfef</sub>
      <line>#7fafdf</line>
    </tbcolor>
    <tbwidth>700</tbwidth>
    <plugin></plugin>
  </settings>
  <database>
    <dsn>mysqli://root@localhost/tdms</dsn>
    <table>tdms_money_out</table>
    <join>
      <type></type>
      <target></target>
      <condition></condition>
      <order></order>
    </join>
    <fields>
      <field>
        <alias>일련번호</alias>
        <fieldname>ID</fieldname>
        <string>false</string>
        <component></component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>유형</alias>
        <fieldname>CODE</fieldname>
        <string>true</string>
        <component>TSEL</component>
        <settings>
		  <setting>
            <title>소모품</title>
            <value>A</value>
          </setting>
		  <setting>
            <title>광고비</title>
            <value>B</value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>코드번호</alias>
        <fieldname>CODENUMBER</fieldname>
        <string>true</string>
        <component>TBOX/5/15</component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>날짜</alias>
        <fieldname>date</fieldname>
        <string>true</string>
        <component>DATE/10/10</component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>지출내역</alias>
        <fieldname>outname</fieldname>
        <string>true</string>
        <component>TSCH//</component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>가격</alias>
        <fieldname>outprice</fieldname>
        <string>false</string>
        <component>TBOX//</component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
      <field>
        <alias>비고</alias>
        <fieldname>etc</fieldname>
        <string>true</string>
        <component>TEXT//</component>
        <settings>
          <setting>
            <title></title>
            <value></value>
          </setting>
        </settings>
      </field>
    </fields>
    <tbitem> </tbitem>
  </database>
</config>
